#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #dbdfec 0%, #4fcc4a 100%);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    position: relative;

    width: 100%;
    max-width: 1100px;
    height: 100%;
    max-height: 680px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    background: url('../../assets/backgroundImg.svg') no-repeat 85% center;
    background-size: 480px;
}

#page-landing .content-wrapper img {
    margin-top: 25px;
    width: 6rem;
}

#page-landing .content-wrapper main {
    max-width: 440px;
    margin-bottom: 6rem;
    margin-top: 7.5rem;
    margin-right: 2.1rem;
}

#page-landing .content-wrapper main h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    color: rgb(54, 52, 52);
}

#page-landing .content-wrapper main h3{
    font-size: 25px;
    font-weight: 700;
    color: rgb(54, 52, 52);
}

#page-landing .content-wrapper main p {
    margin-top: 25px;
    font-size: 24px;
    line-height: 34px;
    color: rgb(54, 52, 52);

}

.button-wrapper  {
    width: 100%;
    max-width: 360px;
    height: 100px;
 
    border-radius: 5px;
 
    display: flex;
    align-items: center;
    justify-content: center;
 
    margin-bottom: 12rem;
    margin-right: 25px;
 
    text-decoration: none;
    padding: 8px;

}
/*
.button-wrapper .entrar {
    color: #dbdfec;
    text-decoration: none;
    padding: 5px;
}

.button-wrapper:hover {

    background-color: #545558;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.button-wrapper p {
    font-size: 24px;
    text-decoration: none;
    outline: none;
    color: white;
    
}
*/